Python Function

In [1]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [2]:
#Arguments
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [3]:
#Arbitrary Arguments, *args
def my_function(*kids):
    print(kids)
    for i in kids:
        print(i)

my_function("Emil", "Tobias", "Linus")

('Emil', 'Tobias', 'Linus')
Emil
Tobias
Linus

In [7]:
#Keyword Arguments
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [8]:
#Default parameter
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()

I am from Sweden
I am from India
I am from Norway

In [12]:
# Return values
def my_function(x):
    return 5 * x

print(my_function(5))
print(my_function(3))
print(my_function(1))

25
15
5

In [14]:
#Recursive function
#factorial
def fact(a):
    if a == 1:
        return 1
    else:
        return a * fact(a - 1)

x = int(input())
fact(x)

 10

3628800

In [15]:
#Swap
def swap(x, y):
    temp = x
    x = y
    y = temp

x = 2
y = 3
swap(x, y)
print(x)
print(y)

2
3

In [18]:
#Swap
def swap(x, y):
    temp = x
    x = y
    y = temp
    return x, y

x = 2
y = 3
print(swap(x, y))
print(x)
print(y)

(3, 2)
2
3

In [19]:
#Swap
def swap(x, y):
    temp = x
    x = y
    y = temp
    return x, y

x = 2
y = 3
x, y = swap(x, y)
print(x)
print(y)

3
2

Lambda Functions

In [ ]:
lambda arguments: expression

In [20]:
square = lambda x : x ** 2
#Using the lambda function
print(square(5))

25

In [21]:
def myfunc(a):
    return len(a)
x = map(myfunc, ("apple", "banana", "cherry"))
print(x)
#convert the map into a list for readability
print(list(x))

<map object at 0x000002307F4BBBB0>
[5, 6, 6]